nav{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    /* align-items: center; */
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 100vh;
    backdrop-filter: blur(10px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    /* background: rgba(0, 0, 0, 0.3); */
    background-color: var(--color-primary);
}

nav a.active{
    background-color: var(--color-primary);
    color: var(--color-bg);
}